.buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
    }
}

.buttons__button {
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s linear;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%)
}

.buttons__button:active {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #ccc;
}